//Color
$black: #0f0f0f;
$seashel: seashell;
//Size width
$container-width: 1300px;
$media-xl: 1199px;
$media-md: 991px;
$media-s: 767px;
// Fonts
$main-font: "Montserrat";
$large-font: 30px;
$middle-font-size: 27px;
$standart-font-size: 25px;
$medium: 400;
$bold: 700;
